@{
    Layout = "_AdminLayout";
}

@model ThemeIntegrationInNet.BussinessEntity.JobInfomration


 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>General Form</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                 <div class="float-right">
                            <a class="btn btn-success" onclick="showInPopup('@Url.Action("AddJobFromJquery","Job")',false)"><i class="fa fa-plus"></i> Add New</a>

                        </div>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
           
                <div class="card-body">

                   <table id="job" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Id</th>
                                    <th>Description</th>

                                </tr>
                            </thead>

                        </table>
                
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              
            </div>
            <!-- /.card -->

           

            <!-- Input addon -->
          
            <!-- /.card -->
            <!-- Horizontal Form -->
         
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <div class="offcanvas offcanvas-end" id="demo">


    <div class="offcanvas-header card-header bg-primary" id="title">



        <h5 class="modal-title" id="title">Fees Type</h5>
        <button type="button" class="close" data-bs-dismiss="offcanvas" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="offcanvas-body" id="formd">
    </div>


</div>
@section Scripts {
  <script>
      var dataTable,showInPopup;
    $(document).ready(function () {
            dataTable = $("#job").DataTable({
                "ajax": {
                    "url": "/Job/DisplayData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "jobTitle" },
                    { "data": "jobId" },
                    { "data": "jobDescription" },

                ],
                "language": {

                    "emptyTable": "No data found"
                }
            });
        });
  

        showInPopup = (url, edit)=>{

              $.ajax({
                type: 'GET',
                url: url,
                success: function (res) {




                    $('#formd').html(res);

                    if (!edit) {
                        $('#title').html('Add Job');

                    }
                   

                    var myOffcanvas = document.getElementById('demo')
                    var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
                    bsOffcanvas.show()


                }
            })


        }
  </script>
}